*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 5em;
    background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    overflow: hidden;
    background: white;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .box{
    font-size: medium;
    width: 80%;
    border: none;
    outline: none;
}
.search .icon{
    background: white;
    font-size: 1.3em;
    cursor: pointer;
}
.logo a{
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    user-select: none;
    margin-right: 0.5em;
}
.options{
    position: fixed;
    right: 2%;
}
.options .icon{
    display: none;
    font-size: 1.9em;
    color: black;
    transition: 0.5s;
    color: white;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2em;
}
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.15em;
    background: #fff;
    left: 0;
    bottom: -0.3em;
    border-radius: 2em;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
/* .navigation .btn-login{
    width: 6em;
    height: 2em;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 2em;
    margin-top: 0.8em;
}
.navigation .btn-login:hover{
    background: #fff;
    color: #006;
    transition: 0.3s;
} */
 .sidebar{
    position: fixed;
    top: 7.5%;
    right: 0;
    width: 200px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translate(40em);
 }
 .sidebar a{
    width: 100%;
    color: #1e1e1e;
    text-decoration: none;
    font-size: large;
    font-weight: 400;
    padding: 10px;
    margin: 10px;
 }
 .sidebar a:hover{
    background: rgb(233, 232, 232);
    color: black;
    font-weight: 600;
    transform: scale(105%);
    transition: transform 0.2s;
 }
 a .icon{
    font-size: 20px;
    position: relative;
    top: 3px;
    padding: 2px;
    margin: 5px;
 }
.wrapper{
    position: relative;
    width: 25em;
    height: 25em;
    background: transparent;
    border: 2px solid rgba(10,10,5,0.5);
    border-radius: 1.5rem;
    backdrop-filter: blur(1em);
    box-shadow: 0 0 2em regba(0 0 0 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.2s;
}
.wrapper.active{
    height: 30em;
}
.wrapper .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.8em;
    height: 1.8em;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.wrapper.hidden{
    transform: scale(1);
    transition: transform 0.5s;
}
.wrapper .form-box{
    position: absolute;
    width: 100%;
    padding: 2em;
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-40em);
}
.wrapper .form-box.login{
    transition: transform 0.2s ease-in-out;
    transform: translateX(0em);
}
.wrapper .form-box.register{
    transform: translateX(40em);
}
.wrapper.active .form-box.register{
    transition: transform 0.2s ease-in-out;
    transform: translateX(0em);
}
.form-box h2{
    font-size: 1.8em;
    color: rgb(7, 7, 43);
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 2em;
    border-bottom: 2px solid #161616;
    margin: 2em 0;
} 
.input-box label{
    position: absolute;
    top: 50%;
    left: 0.8em;
    transform: translateY(-50%);
    font-size: 0.9em;
    color: #006;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s;
}
.input-box input:focus~label, 
.input-box input:valid~label{
    top: -0.5em;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1em;
    color: #006;
    padding: 0 2em 0 0.2em;
}
.input-box .icon{
    position: absolute;
    right: 0.5em;
    font-size: 1.3em;
    color: #006;
    line-height: 1.6em;
}
.remember-forgot{
    color: #161616;;
    margin: -1em 0 1em;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.9em;
}
.remember-forgot label input{
    accent-color: #161616;
    margin-right: 0.3em;
}
.remember-forgot label, .remember-forgot a{
    font-size: 0.9em;
    font-weight: 500;
}
.remember-forgot a{
    color: #161616;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 2.7em;
    font-size: 100%;
    border-radius: 1em;
    border: none;
    outline: none;
    color: #fff;
    background: #161616;
    cursor: pointer;
    font-weight: 600;
}
.login-register{
    text-align: center;
    font-size: 1em;
    color: #161616;
    font-weight: 500;
    margin-top: 0.8em;
}
.login-register a{
    color: #161616;
    text-decoration: none;
    font-weight: 550;
}
.login-register a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 499px){
    body{
        margin: 5%;
    }
    .navigation a{
        position: relative;
        font-size: 15px;
    }
    .search{
       width: 45%;
       margin-right: 20px;
    }
    .navigation a{
        position:fixed;
        display: none;
        margin-bottom: 20px;
    }
    header{
        padding: 5px;
    }
    header .logo{
        margin-left:10%;
        font-size: 120%;
    }
    .options .icon{
        display: inline;
        font-size: 150%;
    }
    .options .icon.hidden{
       display: none;
    }
    .sidebar{
        transform: translateX(40em);
        transition: 0.2s;
    }
    .sidebar.show{
        transform: translateX(0);
        transition: 0.5s ease-in-out;
    }
  }
@media only screen and (min-width: 500px) and (max-width: 997px){
    body{
        margin: 5%;
    }
    .navigation a{
        position: relative;
        font-size: 15px;
    }
    .search{
       width: 50%;
    }
    .navigation a{
        position:fixed;
        display: none;
        margin-bottom: 20px;
    }
    header{
        padding: 5px;
    }
    header .logo{
        margin-left:30%;
    }
    .options .icon{
        display: inline;
    }
    .options .icon.hidden{
       display: none;
    }
    .sidebar{
        transform: translateX(40em);
        transition: 0.2s;
    }
    .sidebar.show{
        transform: translateX(0);
        transition: 0.5s ease-in-out;
    }
  }
